@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-white-a1: 255 255 255;
		--color-white-a2: 236 235 255;
		--color-black-a1: 21 18 18;
		--color-blue-a1: 18 16 99;
		--color-purple-a1: 187 60 181;
		--color-purple-a2: 89 34 94;
		--color-grey-a1: 118 118 124;
		--color-grey-a2: 86 85 132;
		--color-green-a1: 120 220 202;
	}
}
